
  <h4><%= t('Log for Sales Leads') %></h4>
  <div class="pigination"><%= will_paginate @logs %></div>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th><%= t('Date') %></th>
      <th><%= t('CustomerName') %></th>
      <th><%= t('LeadSubject') %></th>
      <th><%= t('Log') %></th>
      <th><%= t('Entered By') %></th>
      <th></th>
    </tr>

    <% @logs.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= (r.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= Customerx::Customer.find_by_id(r.sales_lead.customer_id).short_name %></td>
          <td><%= prt(r, 'sales_lead.subject') %></td>
          <td><%= prt(r, :log) %></td>
          <td><%= prt(r, 'last_updated_by.name') %></td>
          
        </tr>
    <% end %>

  </table>

  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>

