
  <h4><%=t('Log for Customer Comm Records') %></h4>
  <div class="pigination"><%= will_paginate @logs %></div>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th><%=t('CustomerName') %></th>
      <th><%=t('Date') %></th>
      <th><%=t('RecordSubject') %></th>
      <th><%=t('Log') %></th>
      <th><%=t('Entered By') %></th>
    </tr>

    <% @logs.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= Customerx::Customer.find_by_id(r.customer_comm_record.customer_id).short_name %></td>
          <td><%= (r.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= prt(r, 'customer_comm_record.subject') %></td>
          <td><%= prt(r, :log) %></td>
          <td><%= prt(r, 'last_updated_by.name') %></td>
          
        </tr>
    <% end %>

  </table>

  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>

