<div id="main_body">
  <h1>Log for Customer Comm Records</h1>
  <div class="pigination"><%= will_paginate @logs %></div>
  <table>
    <tr>
      <th>#</th>
      <th>CustomerName</th>
      <th>Date</th>
      <th>RecordSubject</th>
      <th>Log</th>
      <th>Entered By</th>
    </tr>

    <% @logs.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= Customerx::Customer.find_by_id(r.customer_comm_record.customer_id).short_name %></td>
          <td><%= (r.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= r.customer_comm_record.subject %></td>
          <td><%= r.log %></td>
          <td><%= r.last_updated_by.name %></td>
          
        </tr>
    <% end %>

  </table>

  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>

</div>