<div id="tabs">
<div id="user">
	<table width="90%">
		<tr>
			<td width="40%" valign="top">
				<ul>
					<li><%= link_to 'Customer Status Category', SUBURI + "/authentify/view_handler?index=1&url=#{customerx.misc_definitions_path(:for_which => 'customer_status')}" %></li>
					<li><%= link_to 'Comm Category', SUBURI + "/authentify/view_handler?index=1&url=#{customerx.misc_definitions_path(:for_which => 'customer_comm_category')}" %></li>
					<li><%= link_to 'New Customer Status Category', SUBURI + "/authentify/view_handler?index=1&url=#{customerx.new_misc_definition_path(:for_which => 'customer_status')}" %></li>	
					<li><%= link_to 'Quality Systems', SUBURI + "/authentify/view_handler?index=1&url=#{customerx.misc_definitions_path(:for_which => 'customer_qs')}" %></li>	
					<li><%= link_to 'Lead Sources', SUBURI + "/authentify/view_handler?index=1&url=#{customerx.misc_definitions_path(:for_which => 'sales_lead_source')}" %></li>	
					<li><%= link_to 'Customer', SUBURI + "/authentify/view_handler?index=1&url=#{customerx.customers_path}" %></li>	
					<li><%= link_to 'Customer Comm Record', SUBURI + "/authentify/view_handler?index=1&url=#{customerx.customer_comm_records_path}" %></li>	
					<li><%= link_to 'Sales Leads', SUBURI + "/authentify/view_handler?index=1&url=#{customerx.sales_leads_path}" %></li>		
                    <li><%= link_to 'User', SUBURI + "/authentify/view_handler?index=1&url=#{authentify.users_path}" %></li>

				</ul>
				</td>
				<td width="20">&nbsp;</td>
				<td valign="top">
				<ul>

				</ul>
			</td>
		</tr>
	</table>	
</div>
</div>
