<div id="main_body">
  <h1>Comm Categories</h1>
  <table>
    <tr>
      <th>#</th>
      <th>Create Date</th>
      <th>Comm Category</th>
      <th>Brief Note</th>
      <th>Ranking Order</th>
      <th>Entered By</th>
      <th></th>
    </tr>

    <% @comm_categories.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= (r.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= r.name %></td>
          <td><%= r.brief_note %></td>
          <td><%= r.ranking_order %></td>
          <td><%= r.last_updated_by.name %></td>
          <td><%= link_to 'Edit', edit_comm_category_path(r, :format => :js), :remote => true if has_update_right?('customerx_comm_categories') %></td>
        </tr>
    <% end %>

  </table>

  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>
  <%= link_to "New Comm Category", new_comm_category_path(:format => :js), :remote => true, :id => 'new_log_link' if has_create_right?('customerx_comm_categories') %>

</div>
