<div id='main_body'>
<h1>客户交流记录内容</h1>
 
<p class="notice"><%= notice %></p>

<p>
  <b>客户名称:</b>
  <%= @customer.name %>
</p> 

<p>
  <b>联系人:</b>
  <%= @customer_comm_record.reported_by.name %>
</p>

<p>
  <b>联系日期:</b>
  <%= @customer_comm_record.comm_date.strftime("%Y/%m/%d") %>
</p> 
<p>
  <b>联系分类:</b>
  <%= @customer_comm_record.comm_category.name %>
</p> 
<p>
  <b>关于:</b>
  <%= @customer_comm_record.subject %>
</p>
 
<p>
  <b>客户联系人名&电话:</b>
  <%= @customer_comm_record.contact_info %>
</p>
<p>
  <b>内容:</b>
  <%= @customer_comm_record.content %>
</p>
 
<p>
  <b>联系方式:</b>
  <%= @customer_comm_record.via %>
</p>
<p>
  <b>删除:</b>
  <%= @customer_comm_record.void %>
</p> 
<p>
  <b>输入/更改:</b>
  <%= @customer_comm_record.last_updated_by.name %>
</p>
<p>
  <b>Logs:</b>	
    <ul>
  <% @customer_comm_record.logs.order("created_at DESC").each do |p| %>
    <li>
    <%= (p.created_at + 8.hours).strftime("%Y-%m-%d").to_s + ', ' + p.last_updated_by.name + '， ' + p.log %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>
 &nbsp;|&nbsp; <%= link_to '新Log', new_customer_comm_record_log_path(:customer_comm_record_id => @customer_comm_record.id, :which_table => 'customer_comm_record'), :id => 'new_log_link' %>
</div>