<!DOCTYPE html>
<html>
<head>
  <title>Customerx</title>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/ >
  <%= stylesheet_link_tag    "customerx/application", :media => "all" %>
  <%= javascript_include_tag "customerx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</body>
</html>
