<%= simple_form_for @customer do |f| %>    
 
  <%= f.input :name, :label => 'CompanyName:' %>  
  <%= f.input :short_name, :label => 'ShortName', :placeholder => '4-8字' %>
  <%= f.input :since_date, :label => 'Since:', :as => :string %>
  <%= f.input :phone, :label => 'CompanyPhone:' %> 
  <%= f.input :fax, :label => 'CompanyFax:' %>  
 联系人信息：
  <%= f.fields_for :contacts, @customer.contacts.first do |builder| %>
    <p><%= render('first_contact', :f => builder)%></p>  
  <% end %>     
  <p><%= link_to_add_fields "加联系人", f, :contacts %></p>
  <%= f.simple_fields_for :address do |builder| %>     
    <%= render('address', :f => builder)%>
  <% end %>      
  <%= f.simple_fields_for :address do |builder| %>     
    <%= render('address', :f => builder)%>
  <% end %>
  <%= f.input :shipping_instruction, :label => '发运要求：', :input_html => {:rows => 4}%>
  <%= f.input :zone_id, :label => 'Zone:', :collection => return_zone, :label_method => :zone_name, :value_method => :id %> 
  <%= f.input :customer_status_category_id, :label => 'BizStatus:', :collection => return_customer_status_category, :label_method => :cate_name, :value_method => :id %>     
  <%= f.input :quality_system_id, :collection => return_quality_system, :label => 'QualitySystem:',
                                  :label_method => :name, :value_method => :id, :include_blank => true %>  
  <%= f.input :web, :label => 'Web:' %>
  <%= f.input :employee_num, :label => 'EmployeeNum:' %> 
  <%= f.input :revenue, :label => 'Revenue:', :hint => '注明单位' %> 
  <%= f.input :main_biz, :label => 'MainBiz：', :input_html => { :rows => 4} %>   
  <%= f.input :customer_taste, :label => 'CustomerTaste:', :input_html => { :rows => 4} %>   
  <%= f.input :customer_eval, :label => 'CustomerEval:', :input_html => { :rows => 4} %> 
  <% if has_activate_right?('customerx_customers') %>
    <%= f.input :active, :label => 'Active:', :collection => [['Yes', true], ['No', false]] %>
  <% else %>
    <%= f.input :active, :label => 'Active:', :readonly => true, :as => :string %>
  <% end %>
  <%= f.input :sales_id, :label => 'Sales:', :collection => Authentify::UsersHelper::return_users('create', 'customerx_customers') %>        
  <%= f.input :note, :label => 'Note:', :input_html => { :rows => 4} %>        
  
  <%= f.button :submit, 'Save' %>  
<% end %>  


