
  <h4>Customer Status Category</h4>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Create Date</th>
      <th>Category Name</th>
      <th>Brief Note</th>
      <th>Ranking Order</th>
      <th>Entered By</th>
      <th></th>
    </tr>

    <% @misc_definitions.each do |cate| %>
        <tr>
          <td><%= cate.id %></td>
          <td><%= (cate.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= cate.name %></td>
          <td><%= cate.brief_note %></td>
          <td><%= cate.ranking_order %></td>
          <td><%= cate.last_updated_by.name %></td>
          <td><%= link_to 'Edit', edit_misc_definition_path(cate, :for_which => 'customer_status', :subaction => 'customer_status', :format => :js), 
                           :remote => true, :class =>'btn btn-primary' if has_action_right?('update_customer_status', 'customerx_misc_definitions', cate) %></td>
        </tr>
    <% end %>

  </table>

<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to "New Customer Status Category", new_misc_definition_path(:for_which => 'customer_status', :subaction => 'customer_status', :format => :js), :remote => true, 
               :id => 'new_log_link' if has_action_right?('create_customer_status', 'customerx_misc_definitions') %>
    </th>
  </tr>
</table>
  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>


